body {
    background-image: url(new2.jpg);
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}


.div{
    background-color: rgba(82, 39, 125, 0.641);
    height: 650px;
    width: 600px;
    border: 2px groove rgba(204, 0, 255, 0.684);
    margin-top: 60px;
    border-radius: 20px;
}

.h1{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;       
    color: rgb(222, 57, 222);
}

#input{
    width: 280px;
    height: 25px;
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 10px;
}

.btn{
    font-size: medium;
    font-weight: 500;
    background-color:  rgb(164, 30, 164);
    color: white;
    border: 1px solid rgb(164, 30, 164) ;
    border-radius: 30px;
}

ul {
    list-style-type: none; 
    padding-right: 10px;
   
}

li {

    list-style: decimal;
    margin-right: 25px;
    padding: 10px;
    color: white;
    border: 2px solid rgb(222, 57, 222);
    border-radius: 10px;
}

ul li button {
    width: 70px;
    margin-left: 10px;
    border: 1px solid rgb(164, 30, 164); 
    border-radius: 20px; 
    background-color: rgb(164, 30, 164);
    color: white;
    font-size:medium;
    font-weight: 600;
}  